<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordMergeUtil_Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordMergeUtil_Core.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowStackTrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSaveSuccessMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataSourceType" serializeAs="String">
                <value />
            </setting>
            <setting name="HTMLImageStorePath" serializeAs="String">
                <value>c:\temp2\</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
        </WordMergeUtil_Core.Settings>
    </userSettings>
</configuration>